<div class="d-flex justify-content-center mt-5">
  <div class="card card-4 shadow p-3 mb-5 bg-white rounded" id="registerCard">
    <div class="card-body">
      <form class="mt-4">

        <div class="row row-space">
          <div class="form-group col-12">
            <label for="nome">Nome do anúncio:</label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="anuncio.name" placeholder="Anúncio">
          </div>
        </div>
        <div class="row row-space">
          <div class="form-group col-12">
            <label for="preco">Nome do cliente:</label>
            <input type="text" class="form-control" id="preco" name="preco" [(ngModel)]="anuncio.clientName" placeholder="Cliente">
          </div>
        </div>

        <div class="row row-space">
            <div class="form-group col-6">
                <label for="dtInicio">Data de início:</label>
                <input class="form-control" type="date" name="dtInicio" [(ngModel)]="anuncio.dataInicio" value="2021-05-01" id="dtInicio">
            </div>
           
            <div class="form-group col-6">
              <label for="dtTermino">Data de término:</label>
              <input class="form-control" type="date" name="dtTermino" [(ngModel)]="anuncio.dataTermino" value="2021-05-01" id="dtTermino">
            </div>
        </div>

        <div class="row row-space">
            <div class="form-group col-6">
              <label for="invest">Investimento por dia (R$):</label>
              <input type="number" class="form-control" id="invest" name="invest" [(ngModel)]="anuncio.investimentoPorDia" placeholder="0,00">
            </div>
        </div>

        <div class="d-flex flex-row-reverse">
          <button type="submit" class="btn btn-outline-primary w-100" (click)="saveAd()">Salvar</button>
        </div>
        
      </form>
    </div>
  </div>
</div>


